# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOi...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOi...

# QPay
QPAY_USERNAME=MUNKMUSIC_MERCHANT
QPAY_PASSWORD=your_password_here
QPAY_INVOICE_CODE=MUNKMUSIC_INVOICE
QPAY_BASE_URL=https://merchant.qpay.mn/v2

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
